@import '@/assets/scss/variable.scss';

@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin msg-item {
  margin-bottom: 24px;
  p {
    margin: 0px;
  }
  .payload {
    display: inline-block;
    min-height: 41px;
    max-width: 300px;
    min-width: 20px;
    margin: 10px 0;
    padding: 10px;
    white-space: normal;
    word-break: break-all;
  }
  .time {
    color: $color-font-black-time;
  }
}
