$font-size--title: 18px;
$font-size--subtitle: 16px;
$font-size--body: 14px;
$font-size--tips: 12px;
$font-size--send: 24px;


$color-main-green: #34C388;
$color-second-green: #08AB67;
$color-main-grey: #E9EAF0;
$color-main-red: #E94E42;
$color-second-red: #C23D33;
$color-font--white-default: #D6D7D9;
$color-font--white-title: #fff;
$color-font--white-tips: #999BA1;
$color-font-black-default: #616161;
$color-font-black-title: #262626;
$color-font-black-time: #B4B4B4;
$color-font-label: #9EA3B1;
$color-border--white: #696F7B;
$color-border--black: #D7DAE1;
$color-border--btn-group: #CED4E2;
$color-bg--black: #333844;
$color-bg--black-active: #414859;
$color-bg--main-status: #70747C;
$color-bg--second-status: #B4B4B4;


$width-leftbar: 300px;
$height--leftbar-top: 176px;
$height--new-connection-btn: 48px;
$height--connection-topbar: 48px;
$spacing--connection-details: 32px;
