$font-size--title: 18px;
$font-size--subtitle: 16px;
$font-size--body: 14px;
$font-size--tips: 12px;
$font-size--send: 24px;


$color-main-green: #34C388;
$color-white-font: #D6D7D9;
$color-white-border: #696F7B;
$color-black-bg: #333844;
